.a {
  height: 100vh;
  display: flex;
  align-items: center;
  /* margin-top: 100px;  */
}

.a-bg {
  height: 90%;
  width: 20px;
  /* background-color: rgb(26, 69, 87); */
  background-color: rgb(26, 69, 87);
  position: relative;
}

.a-left {
  flex: 1;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
  height: 90%;
  text-align: justify;
  margin-top: 10px;
}

.a-left-card-bg {
  position: relative;
  background-color: aqua;
  width: 100%;
  border-radius: 20px;
}

.a-left-card {
  width: 95%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  background-color: lightgoldenrodyellow;
  text-align: justify;
}

.a-title {
  margin-left: 10px;
}

.a-desc {
  padding-top: 2%;
  align-items: center;
  font-weight: 300;
  text-align: justify;
  margin: 20px 25px;
}

.a-right {
  flex: 1;
  margin-left: 40px;
  margin-right: 40px;
  width: 100%;
  height: 90%;
  text-align: justify;
  margin-top: 10px;
}

.a-right-card-bg {
  position: relative;
  background-color: aqua;
  width: 100%;
  border-radius: 20px;
}

.a-right-card {
  width: 95%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  background-color: lightskyblue;
  text-align: justify;
}

.a-card-item {
  align-items: center;
  font-weight: 300;
  text-align: justify;
  margin: 20px 25px;
}

.space-div {
  white-space: pre-wrap;
}
